@charset "utf-8";
//@import "normalize";

/* FONTS */
@import url(https://fonfont_size-s.googleapis.com/container-ss?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
@import url(https://fonfont_size-s.googleapis.com/container-ss?family=Kreon:300,400,700);
@import url(https://fonfont_size-s.googleapis.com/container-ss?family=Space+Mono:400,400i,700,700i);

/* VARIABLES */

/* font-colors */
$font_color-normal: #222233;
$font_color-alternative: #9999aa;
$font_color-inverted: #ffffff;

/* background-colors */
$background_color-normal: #ffffff;
$background_color-alternative: #e6e6ea;
$background_color-inverted: #222233;

/* brand-colors */
$brand_color-main: #0065ff;
$brand_color-alternative: #f3ffff;

/* font-families */
$font-headline: "Kreon", sans-serif;
$font-copy: "Lato", sans-serif;
$font-code: "Space Mono", monospace;

/* font-sizes */
$font_size-xs: 0.875rem;
$font_size-s: 1rem;
$font_size-m: 1.125rem;
$font_size-l: 1.375rem;
$font_size-xl: 1.75rem;
$font_size-xxl: 3rem;

/* line-heighfont_size-s */
$line_height-s: 120%;
$line_height-m: 140%;
$line_height-l: 160%;

/* spaces */
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;
$margin-xl: 80px;

/* RESET */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  //border: 1px dotted font_color-alternative
}

hfont_size-ml, body {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* LAYOUT */

/* container */
.container-l {
  max-width: 100%;
}

.container {
  max-width: 980px;
}

.container-s {
  max-width: 700px;
}

.container-l, .container, .container-s {
  margin: 0 auto;
  width: 100%;
  padding: $margin-m;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

/* grid */
.grid {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $margin-m;

  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
  }

  > div {
    flex: 1 0 0;
    margin: 0;
    padding: $margin-m $margin-m 0 $margin-m;
  }

  .cols-2 {
    flex: 2 0 0;
  }

  .cols-3 {
    flex: 3 0 0;
  }

  .cols-4 {
    flex: 4 0 0;
  }
}

/* DEFAULTS */

body {
  color: $font_color-normal;
  font-family: $font-copy;
  font-size: 16px;
  line-height: $line_height-m;
}

h1, h2, h3, h4 {
  font-family: $font-headline;
  line-height: $line_height-s;
  padding-top: $margin-m;
  margin-bottom: $margin-m;
}

h5, h6 {
  margin-bottom: $margin-s;
}

h1 {
  font-size: $font_size-xxl;
  font-weight: 700;
}

h2 {
  color: $brand_color-main;
  font-size: $font_size-xl;
}

h3 {
  font-size: $font_size-l;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: $font_size-l;
  font-weight: 700;
}

h5 {
  font-size: $font_size-m;
  font-weight: 900;
}

h6 {
  font-size: $font_size-m;
  font-weight: 700;
  font-style: italic;
}

p {
  font-size: $font_size-m;
  line-height: $line_height-l;
  margin-bottom: $margin-m;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

strong em, em strong {
  font-weight: 900;
  font-style: italic;
}

blockquote {
  display: flex;
  border-left: 2px solid $brand_color-main;
  margin: $margin-s 0 $margin-m 0;

  p {
    font-family: $font-code;
    font-size: $font_size-m;
    line-height: $line_height-m;
    padding: $margin-m;
    margin: 0;
  }
}

hr {
  border-bottom: 2px solid $font_color-alternative;
  margin: $margin-l;
}

ul, ol {
  font-size: $font_size-m;
  line-height: $line_height-m;
  padding: 0 0 $margin-m $margin-s;
  margin-bottom: $margin-m;
  list-style: none;
  display: table;

  li {
    display: table-row;

    & + li:before {
      padding-top: $margin-s;
    }
  }
}

ul li:before {
  content: "•";
  padding-right: $margin-s;
  display: table-cell;
}

ol {
  counter-reset: ol-counter;

  li {
    counter-increment: ol-counter;

    &:before {
      text-align: right;
      content: counter(ol-counter);
      font-family: $font-copy;
      font-size: $font_size-s;
      font-weight: 600;
      padding-right: $margin-m;
      display: table-cell;
    }
  }
}

table {
  font-size: $font_size-s;
  font-family: $font-copy;
  line-height: $line_height-m;
  text-align: left;
  border-collapse: collapse;
  border-top: 1px solid $font_color-alternative;
  border-bottom: 1px solid $font_color-alternative;
  margin-bottom: $margin-m;

  th {
    padding: $margin-m $margin-s $margin-m $margin-s;
    font-weight: 700;
    border-bottom: 1px solid $font_color-alternative;
    vertical-align: top;
  }

  td {
    padding: $margin-s;
    vertical-align: top;
  }
}

code {
  color: $font_color-normal;
  font-family: $font-code;
  padding: 0 $margin-s 0 $margin-s;
  background-color: $background_color-alternative;
  border-radius: 3px;
}

pre code {
  padding: $margin-s;
  border: 1px solid $font_color-alternative;
  display: block;
  margin-bottom: $margin-m;
  text-align: left;
  overflow-x: auto;
}

form {
  margin-bottom: $margin-m;
}

label {
  font-size: $font_size-s;
  line-height: $line_height-m;
  margin: $margin-s 0 $margin-s $margin-s;
  display: flex;
}

select, textarea, input[type=text], input[type=submit], button {
  color: $font_color-normal;
  font-size: $font_size-s;
  font-weight: 600;
  line-height: $line_height-m;
  padding: $margin-s;
  margin-bottom: $margin-s;
  background-color: $background_color-normal;
  border: 1px solid $font_color-alternative;
  border-radius: 3px;
}

textarea, input[type=text] {
  width: 100%;
}

input[type=checkbox], input[type=radio] {
  margin-right: $margin-s;
  margin-top: 3px;
}

input[type=submit], button {
  text-transform: uppercase;
  background-color: $background_color-alternative;
  border: none;
  display: block;
}

input[type=submit]:hover, button:hover {
  color: $font_color-inverted;
  background-color: $background_color-inverted;
}

img {
  margin: 0 auto $margin-m auto;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom: 1px solid $brand_color-main;
  }
}

/* SPECIAL */

/* font colors */
.font_color-normal {
  color: $font_color-normal;
}

.font_color-alternative {
  color: $font_color-alternative;
}

.font_color-inverted {
  color: $font_color-inverted;
}

/* background-colors */
.background_color-normal {
  background-color: $background_color-normal;
}

.background_color-alternative {
  background-color: $background_color-alternative;
}

.background_color-inverted {
  color: $font_color-inverted;
  background-color: $background_color-inverted;
}

.brandmain {
  color: $font_color-inverted;
  background-color: $brand_color-main;
}

.brandalt {
  background-color: $brand_color-alternative;
}

/* alignment */
.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

/* paragraphs */
.font_size-s {
  font-size: $font_size-s;
}

.font_size-m {
  font-size: $font_size-m;
}

.font_size-l {
  font-size: $font_size-l;
}

.font_size-xl {
  font-size: $font_size-xl;
  line-height: $line_height-m;
}

.font_size-xxl {
  font-size: $font_size-xxl;
  line-height: $line_height-m;
}

/* buttons */
.button, .button-secondary, .button-tertiary {
  font-size: $font_size-s;
  font-weight: 600;
  line-height: $line_height-m;
  padding: $margin-s;
  margin-bottom: $margin-s;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  display: table;

  &:hover {
    border: none;
    color: $font_color-inverted;
    background-color: $background_color-inverted;
  }
}

.button {
  background-color: $brand_color-main;
  color: $font_color-inverted;
}

.button-secondary {
  background-color: $background_color-alternative;
  color: $font_color-normal;
}

/* ELEMENTS */

/* article */
.article {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $margin-m;

  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
  }

  > div:first-child {
    flex-shrink: 3;
  }

  > div:last-child {
    padding: 0 0 0 $margin-m;
  }

  &.article-top {
    flex-direction: column;

    > div:last-child {
      padding: 0;
    }
  }

  &.article-right {
    flex-direction: row-reverse;

    > div:last-child {
      padding: 0 $margin-m 0 0;
    }
  }
}

/* navigation */
.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: $margin-m 0 $margin-m 0;
  overflow-x: hidden;
  padding: 0;

  &.navigation-horizontal {
    flex-direction: row;
  }

  li {
    &:before {
      content: none;
    }

    a {
      border-bottom: none;
      border-radius: 3px;
      display: block;
      font-weight: 700;
      line-height: $line_height-s;
      padding: $margin-s;
      word-wrap: break-word;

      &:hover {
        background-color: $brand_color-main;
        color: $font_color-inverted;
      }
    }
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .container-s {
    max-width: 100%;
  }

  .grid {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }

  hr {
    margin: $margin-m;
  }

  ul, ol {
    padding: 0 0 $margin-m 0;
  }

  blockquote {
    p {
      padding: $margin-s $margin-m $margin-s $margin-m;
    }
  }

  select {
    width: 100%;
  }

  input[type=submit], button {
    width: 100%;
    text-align: center;
  }

  input[type=submit]:hover, button:hover {
    width: 100%;
    text-align: center;
  }

  .button, .button-secondary, .button-tertiary {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .article {
    flex-direction: column;

    &.article-right {
      flex-direction: column;
    }
  }
}
