@charset "utf-8";
//@import "normalize";

/* FONTS */
@import url(//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
@import url(//fonts.googleapis.com/css?family=Kreon:300,400,700);
@import url(//fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i);

/* VARIABLES */

/* font-colors */
$fnormal: #222233;
$falt: #9999aa;
$finv: #ffffff;

/* background-colors */
$bgnormal: #ffffff;
$bgalt: #e6e6ea;
$bginv: #222233;

/* brand-colors */
$brandmain: #0065ff;
$brandalt: #f3ffff;

/* font-families */
$headline: "Kreon", sans-serif;
$copy: "Lato", sans-serif;
$code: "Space Mono", monospace;

/* font-sizes */
$fxs: 0.875rem;
$fs: 1rem;
$fm: 1.125rem;
$fl: 1.375rem;
$fxl: 1.75rem;
$fxxl: 3rem;

/* line-heights */
$narrow: 120%;
$normal: 140%;
$wide: 160%;

/* spaces */
$s: 10px;
$m: 20px;
$l: 40px;
$xl: 80px;

/* RESET */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  //border: 1px dotted falt
}

html, body {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* LAYOUT */

/* container */
.cl {
  max-width: 100%;
}

.cm {
  max-width: 980px;
}

.cs {
  max-width: 700px;
}

.cl, .cm, .cs {
  margin: 0 auto;
  width: 100%;
  padding: $m;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

/* grid */
.grid {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $m;

  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
  }

  > div {
    flex: 1 0 0;
    margin: 0;
    padding: $m $m 0 $m;
  }

  .g2 {
    flex: 2 0 0;
  }

  .g3 {
    flex: 3 0 0;
  }

  .g4 {
    flex: 4 0 0;
  }
}

/* DEFAULTS */

body {
  color: $fnormal;
  font-family: $copy;
  font-size: 16px;
  line-height: $normal;
}

h1, h2, h3, h4 {
  font-family: $headline;
  line-height: $narrow;
  padding-top: $m;
  margin-bottom: $m;
}

h5, h6 {
  margin-bottom: $s;
}

h1 {
  font-size: $fxxl;
  font-weight: 700;
}

h2 {
  color: $brandmain;
  font-size: $fxl;
}

h3 {
  font-size: $fl;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: $fl;
  font-weight: 700;
}

h5 {
  font-size: $fm;
  font-weight: 900;
}

h6 {
  font-size: $fm;
  font-weight: 700;
  font-style: italic;
}

p {
  font-size: $fm;
  line-height: $wide;
  margin-bottom: $m;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

strong em, em strong {
  font-weight: 900;
  font-style: italic;
}

blockquote {
  display: flex;
  border-left: 2px solid $brandmain;
  margin: $s 0 $m 0;

  p {
    font-family: $code;
    font-size: $fm;
    line-height: $normal;
    padding: $m;
    margin: 0;
  }
}

hr {
  border-bottom: 2px solid $falt;
  margin: $l;
}

ul, ol {
  font-size: $fm;
  line-height: $normal;
  padding: 0 0 $m $s;
  margin-bottom: $m;
  list-style: none;
  display: table;

  li {
    display: table-row;

    & + li:before {
      padding-top: $s;
    }
  }
}

ul li:before {
  content: "•";
  padding-right: $s;
  display: table-cell;
}

ol {
  counter-reset: ol-counter;

  li {
    counter-increment: ol-counter;

    &:before {
      text-align: right;
      content: counter(ol-counter);
      font-family: $copy;
      font-size: $fs;
      font-weight: 600;
      padding-right: $m;
      display: table-cell;
    }
  }
}

table {
  font-size: $fs;
  font-family: $copy;
  line-height: $normal;
  text-align: left;
  border-collapse: collapse;
  border-top: 1px solid $falt;
  border-bottom: 1px solid $falt;
  margin-bottom: $m;

  th {
    padding: $m $s $m $s;
    font-weight: 700;
    border-bottom: 1px solid $falt;
    vertical-align: top;
  }

  td {
    padding: $s;
    vertical-align: top;
  }
}

code {
  color: $fnormal;
  font-family: $code;
  padding: 0 $s 0 $s;
  background-color: $bgalt;
  border-radius: 3px;
}

pre code {
  padding: $s;
  border: 1px solid $falt;
  display: block;
  margin-bottom: $m;
  text-align: left;
  overflow-x: auto;
}

form {
  margin-bottom: $m;
}

label {
  font-size: $fs;
  line-height: $normal;
  margin: $s 0 $s $s;
  display: flex;
}

select, textarea, input[type=text], input[type=submit], button {
  color: $fnormal;
  font-size: $fs;
  font-weight: 600;
  line-height: $normal;
  padding: $s;
  margin-bottom: $s;
  background-color: $bgnormal;
  border: 1px solid $falt;
  border-radius: 3px;
}

textarea, input[type=text] {
  width: 100%;
}

input[type=checkbox], input[type=radio] {
  margin-right: $s;
  margin-top: 3px;
}

input[type=submit], button {
  text-transform: uppercase;
  background-color: $bgalt;
  display: block;
}

input[type=submit]:hover, button:hover {
  color: $finv;
  background-color: $bginv;
}

img {
  margin: 0 auto $m auto;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom: 1px solid $brandmain;
  }
}

/* SPECIAL */

/* font colors */
.fnormal {
  color: $fnormal;
}

.falt {
  color: $falt;
}

.finv {
  color: $finv;
}

/* background-colors */
.bgnormal {
  background-color: $bgnormal;
}

.bgalt {
  background-color: $bgalt;
}

.bginv {
  color: $finv;
  background-color: $bginv;
}

/* alignment */
.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

/* paragraphs */
.ts {
  font-size: $fs;
}

.tm {
  font-size: $fm;
}

.tl {
  font-size: $fl;
}

.txl {
  font-size: $fxl;
  line-height: $normal;
}

.txxl {
  font-size: $fxxl;
  line-height: $normal;
}

/* buttons */
.primary, .secondary, .tertiary {
  font-size: $fs;
  font-weight: 600;
  line-height: $normal;
  padding: $s;
  margin-bottom: $s;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  display: table;

  &:hover {
    color: $finv;
    background-color: $bginv;
  }
}

.primary {
  background-color: $brandmain;
  color: $finv;
}

.secondary {
  background-color: $bgalt;
  color: $fnormal;
}

/* ELEMENTS */

/* article */
.article {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $m;

  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
  }

  > div:first-child {
    flex-shrink: 3;
  }

  > div:last-child {
    padding: 0 0 0 $m;
  }

  &.atop {
    flex-direction: column;

    > div:last-child {
      padding: 0;
    }
  }

  &.aright {
    flex-direction: row-reverse;

    > div:last-child {
      padding: 0 $m 0 0;
    }
  }
}

/* navigation */
.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: $m 0 $m 0;
  overflow-x: hidden;
  padding: 0;

  &.nh {
    flex-direction: row;
  }

  li {
    &:before {
      content: none;
    }

    a {
      border-bottom: none;
      border-radius: 3px;
      display: block;
      font-weight: 700;
      line-height: $narrow;
      padding: $s;
      word-wrap: break-word;

      &:hover {
        background-color: $brandmain;
        color: $finv;
      }
    }
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
  .cm {
    max-width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .cs {
    max-width: 100%;
  }

  .grid {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }

  hr {
    margin: $m;
  }

  ul, ol {
    padding: 0 0 $m 0;
  }

  blockquote {
    p {
      padding: $s $m $s $m;
    }
  }

  select {
    width: 100%;
  }

  input[type=submit], button {
    width: 100%;
    text-align: center;
  }

  input[type=submit]:hover, button:hover {
    width: 100%;
    text-align: center;
  }

  .primary, .secondary, .tertiary {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .article {
    flex-direction: column;

    &.aright {
      flex-direction: column;
    }
  }
}
