---
title: Manuskript 0.1
---

<div class="container-s">
  <img src="assets/images/ill-gear.png" alt="" />
  <h1>Build &amp; Deploy</h1>
  <p class="font_size-l">
    After you have your first complete prototype and you’re ready to share it with someone, you can have Manuskript build a static version of your website that runs in anyone’s browser, or deploy it directly to your server. Here’s how to do this.
  </p>
  <h2>Compile static website</h2>
  <p>
    In your project directory, enter</p>
  <pre><code>middleman build</code></pre>
    <p>Find the compiled result in the <code>/build/</code> directory.</p>
  </p>

  <h2>Deploy</h2>
  <p>Deploying to your own server requires some advanced knowledge. If you how to do this, here’s how to <a href="https://middlemanapp.com/basics/build_and_deploy/">deploy in Middleman</a>.</p>

  <p>If you’re unsure, talk to your expert friends.</p>

<!--
  <p>
    A deploy is a running version of your prototype. Add your publickey to the <em>~/.ssh/authorized_keys</em> file on the server if you want to be able to connect via pubkey authentication.</p>
  <h4>Deploy staging</h4>
  <p><code>
    cap staging deploy
  </code></p>

  <h4>Deploy production</h4>
  <p><code>
    cap production deploy
  </code></p>

  <h4>Rollback to previous release</h4>
  <p><code>
    cap [production|staging] deploy:rollback
  </code></p>
-->

</div>

<div class="container-l">
  <hr>
  <a href="documentation.html" class="btn center">Next up: Documentation</a>
</div>
