---
title: Manuskript 0.1
---

<div class="container-s">
  <h1>How to work with Manuskript</h1>
  <p class="font_size-l">
    In your editor, go into your source folder and click on the <em>content.html.erb</em> file. You’re looking at this right now. All the available elements are in here, so now you can move everything around, just the way you need it. Scroll through the page to see what’s possible.
  </p>
</div>

<!-- Containers -->
<div class="container-l">
  <img src="assets/images/ill-frame.png" alt="" />
</div>
<div class="container-s">
  <h1 id="container">Containers</h1>
  <p class="font_size-l">
    To structure a site, every logical group of information is arranged in a container, with margins, paddings and breakpoints.  Containers are available in three sizes.
  </p>
</div>
<div class="container-l bg_color-alt">
  <h5>Container large</h5>
  <p>
    Use this container class to cover the full width of the page, no matter how large your screen. The height of the container is controlled by its content. You can use text for this container, but also colored backgrounds or images.
  </p>
  <pre><code>div class="container-l"</code></pre>
</div>
<div class="container">
  <h5>Container medium</h5>
  <p>
    Medium containers are 980 pixels wide. This will be suited for much of your content, be it text, images, or grids of information.
  </p>
  <pre><code>div class="container"</code></pre>
</div>
<div class="container-s bg_color-alt">
  <h5>Container small</h5>
  <p>
    Small containers are 700 pixels wide and optimized for reading larger chunks of text comfortably.
  </p>
  <pre><code>div class="container-s"</code></pre>
</div>

<!-- Grids -->
<div class="container-l">
  <a href="#" class="backtotop btn-tertiary center">↑ Back to top</a>
  <hr>
  <img src="assets/images/ill-chess.png" alt="" />
</div>
<div class="container-s">
  <h1 id="grids">Grids</h1>
  <p class="font_size-l">
    Each of the containers above can be divided into columns, forming a grid. Columns of equal width are made by the amount of divs inside the div class="grid".
  </p>
  <pre><code>div class="grid"
  div
  div</code></pre>
</div>
<div class="container grid">
  <div>
    <h5>Two columns</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>
<div class="container grid">
  <div>
    <h5>Three columns</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>
<div class="container grid">
  <div>
    <h5>Four columns</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>

<!-- Growing columns -->
<div class="container-s">
  <h2 id="growing-columns">Growing columns (uneven grids)</h2>
  <p class="font_size-l">
    You can choose four sizes of individual columns by modifying the div-box.
  </p>
</div>
<div class="container grid">
  <div class="cols-2">
    <h5>Two times</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    <pre><code>div class="cols-2"</code></pre>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>
<div class="container grid">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt cols-3">
    <h5>Three times</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    <pre><code>div class="cols-3"</code></pre>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>
<div class="container grid">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="cols-4">
    <h5>Four times</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    <pre><code>div class="cols-4"</code></pre>
  </div>
  <div class="bg_color-alt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div>

<!-- Defaults -->
<div class="container-l">
  <a href="#" class="backtotop btn-tertiary center">↑ Back to top</a>
  <hr>
  <img src="assets/images/ill-chair.png" alt="" />
</div>
<div class="container-s">
  <h1 id="default-elements">Elements</h1>
  <p class="font_size-l">
    After you have made a structure and layout of your site with containers and grids, use the elements below to fill them with your content. We built a basic set of headlines, links, lists, tables, and other useful elements.
  </p>
  <h2>Paragraphs</h2>
  <p>As a basic building block, a paragraph is a coherent thought unit. In it, you can mark text as <strong>important</strong> or <em>emphasize</em> it, or set it even more apart by <em><strong>combining strong &amp; emphasized copy</em></strong>.</p>
</div>
<div class="container">
  <h1>Headline Style H1</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h2>Headline Style H2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h3>Headline Style H3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h4>Headline Style H4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h5>Headline Style H5</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h6>Headline Style H6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <h2>Images</h2>
  <p>
    You can take these wireframe image placeholders and use them in your containers (see some combinations in <a href="content.html.erb#special-elements">Specials</a>). You can, of course, replace them with your own placeholders or final image assets. We’ve provided three sizes for you: huge rectangle, big square, and thumbnail.
  </p>
  <img src="assets/images/2000x1000.png" alt="2000 by 1000 image" />
  <pre><code>img src="assets/images/2000x1000.png</code></pre>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <img src="assets/images/500x500.png" alt="500 by 500 image" />
  <pre><code>img src="assets/images/500x500.png</code></pre>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <img src="assets/images/100x100.png" alt="100 by 100 image" />
  <pre><code>img src="assets/images/100x100.png</code></pre>
  <h2>Links</h2>
  <p>
    This is an example of <a href="#">how links look</a> when using our basic template. You can always adapt them to your needs in CSS. <a href="#">Dipisicing elit sed do eiusmod</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <h3><a href="#">Headline H3 Linked</a></h3>
  <h5><a href="#">Headline H5 Linked</a></h5>
  <h2>Unordered lists</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ipsum dolor sit amet.</li>
    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  </ul>
  <h2>Ordered lists</h2>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ipsum dolor sit amet.</li>
    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  </ol>
  <h2>Divider (horizontal rule)</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <h2>Tables</h2>
  <table>
    <tr>
      <th>Lorem ipsum</th>
      <th>Dolor sit amet</th>
      <th>Consectetur</th>
    </tr>
    <tr>
      <td>Duis aute</td>
      <td>Cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat</td>
      <td>Excepteur sint occaecat cupidatat</td>
    </tr>
    <tr>
      <td>Duis aute</td>
      <td>Cillum dolore eu fugiat nulla pariatur</td>
      <td>Excepteur sint occaecat cupidatat</td>
    </tr>
  </table>
  <h2>Quotes</h2>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </blockquote>
  <h2>Code</h2>
  <p>
    Code can be <code>placed inline</code> or as a dedicated pre-block:
  </p>
  <pre><code>public class HelloWorld {
    public static void main(String[] args){
      System.out.println("Hello World!");
    }
  }</code></pre>
  <h2>Forms</h2>
  <form>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="content">Content</label>
    <textarea name="content" id="content"></textarea>
    <input type="submit" value="Input Submit">
  </form>
  <form>
    <label><input type="checkbox" value="option1">Option 1</label>
    <label><input type="checkbox" value="option2">Option 2</label>
    <label><input type="radio" name="radiobutton" value="option1">Option 1</label>
    <label><input type="radio" name="radiobutton" value="option2">Option 2</label>
    <button type="submit">Button Submit</button>
  </form>
  <form>
    <select name="dropbdown">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
      <option value="6">Option 6</option>
      <option value="7">Option 7</option>
      <option value="8">Option 8</option>
    </select>
  </form>
</div>

<!-- Alternative Styles -->
<div class="container-l">
  <a href="#" class="backtotop btn-tertiary center">↑ Back to top</a>
  <hr>
  <img src="assets/images/ill-pillar.png" alt="" />
</div>
<div class="container-s">
  <h1 id="alternative-styles">Styles</h1>
  <p class="font_size-l">
    For clearer differentiation between elements, special default styles can be applied, like color schemes, combinations of image and text, and lists styled as navigation.
  </p>
</div>
<div class="container">
  <h2>Text-color</h2>
  <p>Headlines, paragraphs and other text-elements are colored by a default:</p>
  <pre><code>class="font_color-normal"</code></pre>
  <p>If needed, each can be styled with two alternative colors.</p>
  <div class="grid bg_color-alt">
    <div>
      <h5 class="font_color-alt">Alternative</h5>
      <p class="font_color-alt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <pre><code>class="font_color-alt"</code></pre>
    </div>
    <div>
      <h5 class="font_color-inv">Inverted</h5>
      <p class="font_color-inv">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <pre><code>class="font_color-inv"</code></pre>
    </div>
  </div>
  <h2>Background-color</h2>
  <p>Containers and grid-boxes can also be colored in three styles. Inverted boxes automatically change their font color so text remains readable.</p>
  <div class="grid">
    <div class="bg_color-normal">
      <h5>Normal</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="bg_color-normal"</code></pre>
    </div>
    <div class="bg_color-alt">
      <h5>Alternative</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="bg_color-alt"</code></pre>
    </div>
    <div class="bg_color-inv">
      <h5>Inverted</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="bg_color-inv"</code></pre>
    </div>
  </div>
  <h2>Alignment</h2>
  <p>Elements within a div can be aligned left (default), right or centered.</p>
  <div class="grid">
    <div class="left">
      <h5>Left</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="left"</code></pre>
    </div>
    <div class="center">
      <h5>Center</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="center"</code></pre>
    </div>
    <div class="right">
      <h5>Right</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <pre><code>div class="right"</code></pre>
    </div>
  </div>
  <h2>Buttons</h2>
  <p>
    Links can be displayed as dedicated buttons in three different styles.
  </p>
  <div class="grid">
    <div>
      <a href="#" class="btn">Primary Button</a>
      <pre><code>a class="btn"</code></pre>
    </div>
    <div>
      <a href="#" class="btn-secondary">Secondary Button</a>
      <pre><code>a class="btn-secondary"</code></pre>
    </div>
    <div>
      <a href="#" class="btn-tertiary">Tertiary Button</a>
      <pre><code>a class="btn-tertiary"</code></pre>
    </div>
  </div>
  <h2>Text Sizes</h2>
  <p>
    Paragraphs can be styled with different sizes, as needed.
  </p>
  <div class="grid">
    <div>
      <h5>Normal</h5>
      <p class="font_size-m">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <pre><code>p class="font_size-m"</code></pre>
    </div>
    <div class="bg_color-alt">
      <h5>Small</h5>
      <p class="font_size-s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <pre><code>p class="font_size-s"</code></pre>
    </div>
    <div>
      <h5>Large</h5>
      <p class="font_size-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <pre><code>p class="font_size-l"</code></pre>
    </div>
    <div class="bg_color-alt">
      <h5>Extra large</h5>
      <p class="font_size-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <pre><code>p class="font_size-xl"</code></pre>
    </div>
  </div>
  <h5>Extra extra large</h5>
  <p class="font_size-xxl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <pre><code>p class="font_size-xxl"</code></pre>
</div>

<!-- Special Elements -->
<div class="container-l">
  <a href="#" class="backtotop btn-tertiary center">↑ Back to top</a>
  <hr>
  <img src="assets/images/ill-lamp.png" alt="" />
</div>
<div class="container-s">
  <h1 id="special-elements">Specials</h1>
  <p class="font_size-l">
    Some common elements are predefined, such as article-previews or navigations.
  </p>
</div>

<div class="container-s">
  <h2>Articles</h2>
  <p class="font_size-l">
    Articles are always a combination of an image and a set of other elements like headlines, paragraphs or buttons. The default article’s image is positioned to the left of all other elements.
  </p>
</div>
<div class="container">
  <div class="article">
    <div>
      <img src="assets/images/500x500.png" alt="500 by 500 image" />
    </div>
    <div>
      <h3>Article</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article">
    <div>
      <img src="assets/images/100x100.png" alt="100 by 100 image" />
    </div>
    <div>
      <h4>Article</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article">
    <div>
      <img src="assets/images/2000x1000.png" alt="2000 by 1000 image" />
    </div>
    <div>
      <h5>Article</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <pre><code>div class="article"
 div
   img
 div
   h1
   p</code></pre>
</div>

<div class="container-s">
  <h2>Articles with right image</h2>
  <p class="font_size-l">
    Article-images can also be placed to the right of a text block, if needed.
  </p>
</div>
<div class="container">
  <div class="article article-right">
    <div>
      <img src="assets/images/500x500.png" alt="500 by 500 image" />
    </div>
    <div>
      <h3>Article</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article aright">
    <div>
      <img src="assets/images/100x100.png" alt="100 by 100 image" />
    </div>
    <div>
      <h4>Article</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article article-right">
    <div>
      <img src="assets/images/2000x1000.png" alt="2000 by 1000 image" />
    </div>
    <div>
      <h5>Article</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <pre><code>div class="article article-right"
 div
   img
 div
   h1
   p</code></pre>
</div>

<div class="container-s">
  <h2>Articles with top image</h2>
  <p class="font_size-l">
    Article grids can benefit from their images being placed above the content.
  </p>
</div>
<div class="container grid">
  <div class="article article-top">
    <div>
      <img src="assets/images/500x500.png" alt="500 by 500 image" />
    </div>
    <div>
      <h3>Article</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article article-top">
    <div>
      <img src="assets/images/100x100.png" alt="100 by 100 image" />
    </div>
    <div>
      <h4>Article</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div class="article article-top">
    <div>
      <img src="assets/images/2000x1000.png" alt="2000 by 1000 image" />
    </div>
    <div>
      <h5>Article</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <pre><code>div class="article article-top"
 div
   img
 div
   h1
   p</code></pre>
</div>

<div class="container-s">
  <h2>Navigations</h2>
  <p class="font_size-l">
    Navigations are lists that can run vertically or horizontally, and turn to icons at mobile sizes.
  </p>
</div>
<div class="container grid">
  <div class="bg_color-alt">
    <h5>Vertical Navigation</h5>
    <ul class="nav">
      <li><a href="#">Company</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Philosophy</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <pre><code>ul class="nav"</code></pre>
  </div>
  <div class="cols-3">
    <h5>Horizontal Navigation</h5>
    <ul class="nav nav-horizontal">
      <li><a href="#">Company</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Philosophy</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <pre><code>ul class="nav nav-horizontal"</code></pre>
    <ul class="nav nav-horizontal right">
      <li><a href="#">Company</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Philosophy</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <pre><code>ul class="nav nav-horizontal right"</code></pre>
  </div>
</div>

<div class="container-s">
  <p><a href="navigation.html">Here’s how to correctly add a navigation to the header of your website.</a></p>
</div>
