---
title: Manuskript 0.1
---

<div class="container-s">
  <img src="assets/images/ill-book.png" alt="" />
  <h1>Documentation</h1>
  <p class="font_size-l">
    Manuskript comes with MkDocs included. It’s a tool for documenting what you are building. We believe documentation is almost as important as your project itself, but you can use Manuskript without this as well. Here’s how to use the built-in documentation tool.
  </p>
  <p>The documentation files live in the <code>/docs</code> directory of Manuskript. You can write your complete documentation in markdown.</p>

  <h2>Build documentation</h2>
  <p>
    The following command builds a static version inside the <em>/doc_build</em> directory:</p>
  <pre><code>mkdocs build</code></pre>

  <h2>Live preview</h2>
  <p>
    Start a local development server to live-preview the generated documentation files:</p>
  <pre><code>mkdocs serve</code></pre>

  <h2>Deploy the documentation to github pages</h2>
  <pre><code>mkdocs gh-deploy -c</code></pre>
</div>
