---
title: Manuskript 0.1
---

<div class="container-s">
  <img src="assets/images/ill-wheel.png" alt="" />
  <h1>Navigation</h1>
  <p class="font_size-l">
    The navigation is part of your header and lies outside your <code>index.html.erb</code>. That way you don’t have to edit all your pages when you change something in your header. The same goes for your footer. To edit header and footer, find <code>/layouts/layout.erb</code>.</p>

  <h2>Adding new pages</h2>
  <p>To add a new page to your website, just copy the whole <code>index.html.erb</code> and rename it (e.g. <code>/portfolio.html.erb</code>). Build as many pages as you want. Take a look at your subpages locally by just adding <code>/nameofpage.html</code> to your URL, like so: http://ninos-macbook-pro.fritz.box:4567/content.html</p>
</div>
