---
title: Manuskript 0.1
---

<div class="container-s">
  <img src="assets/images/ill-wheel.png" alt="" />
  <h1>Navigation</h1>
  <p class="font_size-l">
    The navigation is part of your header and lies outside your <em>index.html.erb</em>. That way you don’t have to edit all your pages when you change something in your header. The same goes for your footer. To edit header and footer, find <em>/layouts/layout.erb</em>.</p>

  <h2>Adding new pages</h2>
  <p>To add a new page to your website, just copy the whole <em>index.html.erb</em> and rename it (e.g. <em>/portfolio.html.erb</em>). Build as many pages as you want. Take a look at your subpages locally by just adding /nameofpage.html to your URL, like so: http://ninos-macbook-pro.fritz.box:4567/content.html</p>
</div>
