---
title: Manuskript 0.1
---


<div class="container-s">
  <img src="assets/images/ill-hat.png" alt="" />
  <h1>Styling</h1>
  <p class="font_size-l">
    To style Manuskript for basic branding, find <code>assets/stylesheets/style.css.scss</code>. The most important variables to add basic branding are at the very top of your stylesheet, under <code>/* VARIABLES */</code>. Replace fonts, colors, styles just the way you want. No need to compile SASS, we’re doing that for you automatically. Anytime you hit <strong>save</strong>, your URL is updated by Middleman, showing the latest build.
  </p>
</div>

<div class="container-l">
  <hr>
  <a href="build-deploy.html" class="btn center">Next up: Build &amp; Deploy</a>
</div>
