---
title: Manuskript 0.1
---


<div class="container-s">
  <img src="assets/images/ill-hat.png" alt="" />
  <h1>Styling</h1>
  <p class="font_size-l">
    To style Manuskript for basic branding, find assets/stylesheets/style.css. Replace fonts, colors, styles just the way you want. No need to compile SASS, we’re doing that for you automatically. Anytime you hit ‘save’, your URL is updated by Middleman, showing the latest build.
  </p>
</div>
